html, body {
    height: 100%;
    overflow: hidden;
    background-color: rgb(15, 16, 20);

}

.load {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(15, 16, 20);

}

.loadPercent {
    position: absolute;
    top: 54%;
    color: rgb(225, 229, 235);
}

.fadeout {
    animation: fadeout 0.5s;
    -moz-animation: fadeout 0.5s;
    -webkit-animation: fadeout 0.5s;
    -o-animation: fadeout 0.5s;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#joystick {
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#joystick-control {
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#joystick-line {
    position: absolute;
    width: 100%;
    height: 100%;
}